<h3>Welcome {{username}} !!!</h3>
<div id="user-info">
  <div class="row">
    <ul>
      <li>Hunter: {{hunter_name}}</li>
      <li>Rank: {{rank}}</li>
      <li>Registered Email: {{email}}</li>
    </ul>    
</div>
<div>
    <h5>Current Trade Offers</h5>
    <table class="" id="">
        <colgroup>
          <col style="width: 25%">
          <col style="width: 25%">
          <col style="width: 40%">
          <col style="width: 10%">
        </colgroup>
        <thead>
          <tr>
            <!--<th scope="col">Trade #</th>	-->
            <th scope="col">Item</th>
            <th scope="col">Qty</th>
            <th scope="col">Msg</th>
            <!-- <th scope="col">Status</th>-->
          </tr>
        </thead>
        <tr *ngFor="let value of trades">
          <ng-container *ngIf="value.isOffer===true">
          <!--<td>{{value.tradeId}}</td>-->
          <td>{{value.itemName}}</td>
          <td>{{value.itemQuantity}}</td>
          <td>{{value.message}}</td>
          <!-- <td>status</td> -->
          </ng-container>
        </tr>
      </table>   
     
</div>
<br>
<br>
<div>
    <h5>Current Trade Requests</h5>
    <table class="" id="">
        <colgroup>
          <col style="width: 25%">
          <col style="width: 25%">
          <col style="width: 40%">
          <col style="width: 10%">
        </colgroup>
        <thead>
          <tr>
            <!--<th scope="col">Trade #</th>	-->
            <th scope="col">Item</th>
            <th scope="col">Qty</th>
            <th scope="col">Msg</th>
            <!-- <th scope="col">Status</th>-->
          </tr>
        </thead>
        <tr *ngFor="let value of trades">
          <ng-container *ngIf="value.isOffer===false">
          <td>{{value.itemName}}</td>
          <td>{{value.itemQuantity}}</td>
          <td>{{value.message}}</td>
          </ng-container>
        </tr>
      </table>    
           
</div>
</div>



<div class="row">
  <div id="logout-btn">
    <button id="logout-btn" class="btn-large btn-submit" type="submit" (click)="postTrade()">Post A Trade</button>
  </div>
</div>

<div class="row">
  <div id="logout-btn">
    <button id="logout-btn" class="btn-large btn-submit" type="submit" (click)="logoutUser()">Logout</button>
  </div>
</div>