<div class="input-field col s6">
    <select id="itemName" class="browser-default full-border" required>
      <option  selected>Choose Item</option>
      <option value="MonsterBoneM">Monster Bone M</option>
      <option value="MonsterBoneL">Monster Bone L</option>
      <option value="QualityBone">Quality Bone</option>
      <option value="MachaliteOre">Machalite Ore</option>
      <option value="AquacoreOre">Aquacore Ore</option>
      <option value="CarbaliteOre">Carbalite Ore</option>
    </select>
</div>