<div>
  <ng-container *ngIf="tradeform != undefined">
    <ng-container *ngIf="dummyTrade.isOffer">
        <h5>Trade Offer</h5>
      </ng-container>
      <ng-container *ngIf="!dummyTrade.isOffer">
        <h5>Trade Request</h5>
      </ng-container>
  </ng-container>
    <table class="" id="">
        <colgroup>
          <col style="width: 30%">
          <col style="width: 30%">
          <col style="width: 40%">
        </colgroup>
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Qty</th>
            <th scope="col">Message</th>
          </tr>
        </thead>
        <tr>
          
          <ng-container *ngIf="tradeform != undefined">
            <td>{{tradeform.itemName}}</td>
            <td>{{tradeform.itemQuantity}}</td>
            <td>{{tradeform.message}}</td>
          </ng-container>
        </tr>
      </table>   
     
</div>

<div>
    <form (submit)="postBid($event)" class="col s12">
        <div class="row">
            <app-item-name-selector></app-item-name-selector>
            <div class="input-field col s6">
                <input type="text" id="itemQuantity" class="" style="border: 1px solid black" placeholder="  Quanty of item" required>
            </div>
        </div>
        <div class="row">
          <div class="center-align">
            <button class="btn-large btn-submit" type="submit" (click)="refresh()">Submit</button>
          </div>
        </div>
    </form>
</div>

<div>


</div>
<div>
    <h5>Current Bids</h5>
    <table class="" id="">
        <colgroup>
          <col style="width: 50%">
          <col style="width: 50%">
        </colgroup>
        <thead>
          <tr>
            <!--<th scope="col">Trade #</th>	-->
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <ng-container *ngIf="bidform != undefined">
          <tr *ngFor="let b of bidform">
            <td>{{b.itemName}}</td>
            <td>{{b.itemQuantity}}</td>
          </tr>
        </ng-container>
        
      </table>    
</div>

<!-- -->