<div class="row">
  <div class="col s8 offset-s2 reg-form">
    <div class="">
      <div class="sm-jumbotron center-align">
        <h2>Post Trade</h2>
      </div>
      <form (submit)="postTrade($event)" class="col s12">
        <div class="row">
            
              <div class="input-field col s6">
                  <select id="isOffer" class="browser-default post-border" required>
                    <option selected>Choose Transaction Type</option>
                    <option value="Offer">Offer</option>
                    <option value="Request">Request</option>
                  </select>
              </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select id="itemName" class="browser-default post-border" required>
                      <option  selected>Choose Item</option>
                      <option value="Apple">Apple</option>
                      <option value="Banana ">Banana</option>
                    </select>
                </div>
                <div class="input-field col s6">
                    <input type="text" id="itemQuantity" class="" style="border: 1px solid black" placeholder="  Quanty of item" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col s12">
                      <textarea name="message" id="message" class="post-border" rows="1" placeholder=" add message" required autofocus></textarea>
              </div>
            </div>
            <div class="row">
              <div class="center-align">
                <button class="btn-large btn-submit" type="submit">Submit</button>
              </div>
            </div>
      </form>
    </div>
  </div>
</div>
